KOBO_API_TOKEN=your_kobo_api_token
KOBO_ASSET_UID=your_form_asset_uid
KOBO_FORM_UUID=your_form_deployment_uuid
KOBO_SUBMISSION_BASE_URL=https://kc.kobotoolbox.org
KOBO_API_BASE_URL=https://kf.kobotoolbox.org
